
table .sentence td {
    /*background-color: #838b8e;*/
    color: #fff;
    /*margin: auto auto;*/
    text-align: center;
    width: 200px;
}

table .translated td {
    /*background-color: #838b8e;*/
    color: #fff;
    /*margin: auto auto;*/
    text-align: center;
    font-size: medium;
    /*width: 300px;*/
}

table .basic_form td {
    background-color: #838b8e;
    color: #fff;
    /*margin: auto auto;*/
    text-align: center;
    font-size: medium;
    /*width: 300px;*/
}

table .partname td {
    background-color: #6eac96;
    color: #fff;
    /*margin: auto auto;*/
    text-align: center;
    font-size: medium;

    /*width: 300px;*/
}

table .format td {
    /*background-color: #4c4c15;*/
    color: #fff;
    /*margin: auto auto;*/
    text-align: center;
    font-size: medium;

    /*width: 300px;*/
}

table .help_sentence td {
    background-color: #1c432b;
    color: #fff;
    font-size: small;
    /*width: 300px;*/

}

table .help_part td {
    background-color: #191d18;
    color: #fff;
    font-size: small;
    /*width: 300px;*/

}

table .another td {
    background-color: #305e98;
    color: #fff;
    /*width: 300px;*/
}

table {
    /*width: 1100px;*/
}

table tr td {
    /*width: 20%;*/
}

table td.space {
    width: 10px;
}

.formatted {
    font-style: italic;
}

.sentence_input {
    font-size: larger;
    width: 100%;
    text-align: left;
}

.sentence_input.more {
    font-size: medium;
    text-align: left;
}

.sentence_input.more input {
    margin: auto 10px auto 10px;
}

.sentence_input input {
    font-size: larger;
}

.sentence_input #text {
    width: 82%;
    color: black;
}

.sentence_input #clear {
    color: darkred;
}

.sentence_input #last {
    color: darkblue;
}

.sentence_input #copy {
    color: orange;
}

.active {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    background-color: yellow;
}

button {
    font-size: large;
}

.timeform {
    font-size: medium;
}

select#last_sentence_list {
    font-size: larger;
}

#matrix, article {
    display: block;
}

/*#matrix {*/
/*    float: left;*/
/*}*/